/* Body */
body {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Carousel */
.carousel-inner {
    max-height: 800px;
}

/* Form */
#container_1 img {
    max-width: 100%;
    
}

/* Iframe */
#mitad_iframe {
    max-width: 100%;    
    display: flex;
    text-align: center;    
}

#mitad_iframe div {
    max-width: 50%;
    display: flex;   
}

/* footer */
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
.social-icons {
    font-size: 24px;
    margin: 0 10px;
}




/* Animacion del h1 */
.titulo {
    min-height: 50px;
    margin-top: 15px;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2.5em;
    animation: cambiaColor 2s linear infinite; /* Aplicar animación */
    }
    
    @keyframes cambiaColor {
        0% {
            color: #333; /* Color inicial */
        }
        50% {
            color: rgb(0, 0, 255); /* Color a la mitad de la animación */
        }
        100% {
            color: #333; /* Color final (vuelve al color inicial) */
        }
    }
    



/* Animacion a*/
a:hover {
background-color: goldenrod;

}


/* Media query para pantallas pequeñas (smartphones) */
@media (max-width: 988px) {
    
  
    .logo {
        width: 40px; 
    }
    
    .navbar-collapse {
        background-color: rgb(78, 78, 76); 
    }
    
    body {
        background-color: rgb(153, 152, 152);
        font-size: small;
    }

}

  /* Media query para pantallas grandes */
  @media (min-width: 1200px) {
    body {
        background-color: white;
        font-size: medium;
    }
    .navbar-collapse {
      background-color: transparent; 
    }
    
}