/*header */
.navbar-collapse {
justify-content: end; 
}

/* Body */
body {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Carousel */
.carousel-inner {
    max-height: 800px;
}

#proteinas, #creatina, #planes {
    box-shadow: 0 4px 8px rgba(1, 1, 1, 1); /* sombras de las "tarjetas"*/
    border-radius: 8px;
    margin: 20px auto;
}
/* Iframe */
.card {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 1);
    border-radius: 8px;
    overflow: hidden;
  }

  .card p {
    padding: 20px;
    text-align: justify;
    color: #333;
  }

  .card iframe {
    width: 100%;
    height: 300px;
    border: 0;
  }

/*Fomr compras*/
#titulo_form {
color: tomato;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
animation: subeBaja 2s infinite;
padding-top: 15px;
text-align: center;
}
@keyframes subeBaja {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
}
    
/* Form entrenar */
#container_1 img {
      max-width: 100%;
}
    
/* footer */
footer {
    padding: 20px;
    text-align: center;
}
.social-icons {
    font-size: 24px;
    margin: 0 10px;
}
footer a {
    text-decoration: none;
  }



/* Animacion del h1 */
.titulo {
    min-height: 50px;
    margin-top: 15px;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2.5em;
    animation: cambiaColor 2s linear infinite; /* Aplicar animación */
    }
    
    @keyframes cambiaColor {
        0% {
            color: #333; /* Color inicial */
            transform: translateY(0);  /*posicion inicial */
        }
        50% {
            color: rgb(0, 0, 255); /* Color a la mitad de la animación */
            transform: translateY(-20px);/*sube*/
        }
        100% {
            color: #333; /* Color final (vuelve al color inicial) */
            transform: translateY(0);/*vuelve a la posicion inicial*/
        }
    }
    



/* Animacion a*/
a:hover {
background-color: goldenrod;

}


/* Media query para pantallas pequeñas (smartphones) */
@media (max-width: 988px) {
    
  
    .logo {
        width: 40px; 
    }
    
    .navbar-collapse {
        background-color: rgb(160, 247, 247); 
    }
    
    body {
        background-color: rgb(209, 206, 206);
        font-size: small;
    }

}

  /* Media query para pantallas grandes */
  @media (min-width: 1200px) {
    body {
        background-color: white;
        font-size: medium;
    }
    .navbar-collapse {
      background-color: transparent; 
    }
    
}